.coguri_main_logo {
    font-family: 'NanumSquareB', cursive;
}

.coguri_main_header {
    text-align:center;
    margin: 2rem 0;
}

.coguri_main_footer {
    text-align: center;
    margin-top: 2rem;
}

.coguri_footer_button {
    font-size: .9rem;
}

.hello_world {
    height: 20rem;
    background-color:#38df81;
    border-radius: 1rem;
    margin: 2rem;
}

.coguri_main_header_nav {
    font-family: 'NanumSquareR', cursive;
    color: black;
    text-decoration: none;
}

.coguri_main_header_nav:hover {
    color: red;
}